header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}
.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left{
	display: flex;
	align-items: center;
}
.right{
	height: 60px;
	display: flex;
	align-items: center;
	gap: 20px;
}
h3{
	font-family: "JetBrains Mono", monospace;
	font-weight: 800;
	font-size: 24px;
	color: white;
	margin-left: 8px;
	cursor: pointer;
}
button{
	width: 12px;
	height: 7px;
	cursor: pointer;
}
button.closed {
  background: url(/img/header/open-img.png);
	width: 12px;
	height: 7px;
	margin-left: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}
button.open {
  background: url(/img/header/close-img.png);
	width: 12px;
	height: 7px;
	margin-left: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}
a.logo{
	width: 65px;
	height: 65px;
	background: url(/img/header/logo.png);
	background-size: cover;
	cursor: pointer;
}
img{
	height: 65px;
	width: 65px;
}
nav{
	display: flex;
	align-items: center;
	gap: 70px;
	margin-left: 80px;
}
nav a {
	font-size: 24px;
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	color: var(--elem-nonactive);
	transition: 0.2s;
}
nav a:hover {
	color: white;
}
nav a.active-link {
	color: white;
}


/* GM STREAK WIDGET */
.gm {
	position: relative; /* Нужно для правильного позиционирования */
	overflow: visible; /* Позволяем искрам выходить за пределы */
	padding: 13px;
	background-color: var(--dark-violet);
	border-radius: 14px;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	transition: 0.2s;
}
.gm:hover{
	background-color: #581A7F;
}
.gm p{
	font-size: 21px;
	font-family: "JetBrains Mono", monospace;
	font-weight: 500;
	color: var(--violet);
}
.fire-img{
	width: 34px;
	height: 34px;
	background: url(/img/header/ufo.png);
	background-size: cover;
	background-repeat: no-repeat;
}


/* XP WIDGET */
.xp{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 27px;
	padding-right: 27px;
	background-color: var(--dark-pink);
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.2s;
}
.xp:hover{
	background-color: #6D146A;
}
.xp p{
	font-size: 21px;
	font-family: "JetBrains Mono", monospace;
	font-weight: 500;
	color: var(--pink);
}

/* NETWORK CHANGE */
.network{
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: rgba(var(--dark-bg), 0.3);
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
	transition: 0.2s;
}
.network:hover{
	background-color: rgba(var(--dark-bg), 1);
}
button.network-closed {
  background: url(/img/header/open-img.png);
	width: 12px;
	height: 7px;
	margin-right: 5px;
	background-size: cover;
	background-repeat: no-repeat;
}
button.network-open {
  background: url(/img/header/close-img.png);
	width: 12px;
	height: 7px;
	margin-right: 5px;
	background-size: cover;
	background-repeat: no-repeat;
}
.network-icon {
  width: 34px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* WALLET */
.wallet{
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: rgba(var(--dark-bg), 0.3);
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.2s;
}
.wallet:hover{
	background-color: rgba(var(--dark-bg), 1);
}
.wallet-icon{
	width: 32px;
	height: 32px;
	background: url(/img/header/wallet.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 16px;
}
.wallet p{
	font-size: 21px;
	font-family: "JetBrains Mono", monospace;
	font-weight: 500;
	color: white;
}



.fireworks-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Искры не должны мешать клику */
	overflow: visible;
}

/* Базовый стиль для искры */
.spark {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: url('/img/animation/ufo.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  animation: move ease-out forwards;
	z-index: 1001;
}

.gm-popup {
  position: absolute;
  top: 105px;
  right: 490px;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
