<header>

	<div class="left">
		<div class="menu" (click)="openMenu()">
			<a routerLink="/" class="logo"></a>
			<h3 (click)="togglePopup($event)">Blackhole</h3>
			<button (click)="togglePopup($event)" [ngClass]="{'open': isPopupVisible, 'closed': !isPopupVisible}"></button>
		</div>
	
	
		<nav>
			<a routerLink="/trade" routerLinkActive="active-link">Trade</a>
			<a routerLink="/bridge" routerLinkActive="active-link">Bridge</a>
			<a routerLink="/fun" routerLinkActive="active-link">Fun</a>
			<a routerLink="/launchpad" routerLinkActive="active-link">Launchpad</a>
			<a routerLink="/quests" routerLinkActive="active-link">Rewards</a>
		</nav>
	</div>

	<div class="right">

		<!-- GM STRAK WIDGET -->
		<!-- <div class="gm" (click)="incrementGmCount()">
			<p *ngIf="gmCount !== null">{{ gmCount }}</p>
			<div class="fire-img"></div>
			<div class="fireworks-container"></div>
		</div> -->

		<!-- Мини-попап -->
		<div class="gm-popup" *ngIf="showPopup">
			{{ popupMessage }}
		</div>

		<!-- XP WIDGET -->
		<div class="xp" *ngIf="walletService.isConnected()">
			<p>0 XP</p>
		</div>

		<!-- NETWORK CHANGE -->
		<div (click)="toggleNetworkPopup($event)" class="network">
			<div class="network-icon" 
				[style.background-image]="'url(' + selectedNetwork?.icon + ')'">
			</div>
			<button (click)="toggleNetworkPopup($event)" 
				[ngClass]="{'network-open': isNetworkPopupVisible, 'network-closed': !isNetworkPopupVisible}">
			</button>
		</div>

		<!-- WALLET -->
		<div class="wallet" (click)="openConnectWalletPopup()">
			<div class="wallet-icon"></div>
			<p>{{ walletName }}</p>
		</div>

	</div>

</header>

<!-- Добавляем компонент BlackholeNetwork -->
<app-blackhole-network
	*ngIf="isNetworkPopupVisible"
	(networkSelected)="selectNetwork($event)"
	(close)="toggleNetworkPopup()">
</app-blackhole-network>

<!-- Используем async pipe для подписки на activePopup$ -->
<ng-container *ngIf="popupService.activePopup$ | async as activePopup">
  
  <app-blackhole-menu 
    *ngIf="activePopup === 'blackholeMenu'"
    (close)="closeAllPopups()">
  </app-blackhole-menu>

  <app-connect-wallet 
    *ngIf="activePopup === 'connectWallet'"
    (close)="closeAllPopups()"
    (openWallet)="openWallet()">
  </app-connect-wallet>

  <app-wallet 
    *ngIf="activePopup === 'wallet'"
    (close)="closeAllPopups()">
  </app-wallet>

</ng-container>