<div class="token-change">
	<div class="header">
		<h3>Select a token</h3>
		<button (click)="closePopup()"></button>
	</div>
	<div class="search">
		<input
			type="text"
			placeholder="Search by name or contract address"
			[(ngModel)]="searchText"
			(keydown.enter)="performSearch()"
		/>
		<button class="search-button" (click)="performSearch()"></button>
	</div>
	<div class="desc">
		<p>Token list</p>
		<p>Contracts</p>
	</div>
	<div class="list">
		<div class="inner-list">

			<div class="token" *ngFor="let token of filteredTokens" (click)="selectToken(token)">
				<div class="left">
					<div class="image">
						<div class="token-image" [style.backgroundImage]="'url(' + token.imageUrl + ')'"></div>
						<div class="network-bg">
							<div class="network-image" [style.backgroundImage]="'url(' + currentNetworkIcon + ')'"></div>
						</div>
					</div>
					<div class="name">
						<h6>{{ token.name }}</h6>
						<p>${{ token.symbol }}</p>
					</div>
				</div>
				<div class="contract">
					<div class="image-copy" (click)="copyToClipboard(token.contractAddress, $event)"></div>
					<a
						href="https://etherscan.io/address/{{ token.contractAddress }}"
						target="_blank"
						(click)="$event.stopPropagation()"
					>
						<p>{{ token.contractAddress | slice: 0:4 }}...{{ token.contractAddress | slice: -2 }}</p>
						<div class="image-link"></div>
					</a>
				</div>
			</div>

		</div>

	</div>
</div>