.page{
	width: 1518px;
}
h1{
	font-family: "Big Shoulders Text", sans-serif;
	font-size: 103px;
	font-weight: 400;
	color: white;
	margin-bottom: 80px;
	margin-top: 60px;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}
hr{
	border: 1px solid var(--elem-nonactive);
	width: 1518px;
}
.content{
	display: flex;
	align-items: flex-start;
	width: 1518px;
}
.content p.name{
	font-family: "JetBrains Mono", monospace;
	font-size: 20px;
	font-weight: 400;
	color: white;
	margin-top: 10px;
	min-width: 500px;
}
.content p{
	font-family: "JetBrains Mono", monospace;
	font-size: 20px;
	font-weight: 400;
	color: var(--elem-nonactive);
	max-width: 1052px;
	margin-top: 20px;
}
span{
	color: var(--elem-nonactive);
}
a{
	font-family: "JetBrains Mono", monospace;
	font-size: 20px;
	font-weight: 400;
	color: white;
	text-decoration: underline;
}