.quests{
	width: calc(100vw - 80px);
	height: calc(100vh - 150px);
	display: flex;
	align-items: center;
	justify-content: center;
}
h6{
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	font-size: 24px;
	color: white;
}