.trade {
	min-height: calc(100vh - 150px);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	box-sizing: border-box;
	background-color: none;
}

.trade-window {
	width: 681px;
	height: auto;
	position: fixed;
	top: 148px;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: rgba(var(--dark-bg), 0.3);
	border-radius: 28px;
	box-sizing: border-box;
	padding: 40px;
}
app-settings{
	position: absolute;
}


.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h3{
	font-family: "JetBrains Mono", monospace;
	font-weight: 500;
	font-size: 32px;
	color: white;
}
.icons{
	display: flex;
	gap: 12px;
}
.refresh {
  background-image: url(/img/trade/refresh.png);
	opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  cursor: pointer;
	transform: rotate(0deg);
	transform-origin: center;
	transition: opacity 0.2s ease-in-out, transform 1s ease-in-out;
}
.refresh:hover{
	opacity: 1;
}
.rotate {
  transform: rotate(-720deg);
}
.settings {
  background-image: url(/img/trade/settings.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}

.change-button {
	background-image: url(/img/trade/change.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 54px;
	width: 54px;
	position: absolute;
	top: 160px;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	justify-content: center;
	cursor: pointer;
	border-radius: 1000px;
	overflow: hidden;
}

.arrow-up,
.arrow-down {
    background-image: url(/img/trade/change-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 21px;
    margin-top: 16px;
    transition: 0.2s;
}

.arrow-down {
    transform: rotate(180deg);
    transform-origin: center;
}
.change-button:hover .arrow-up{
	margin-top: 20px;
}
.change-button:hover .arrow-down{
	margin-top: 12px;
}

.animate .arrow-up {
	animation: click-animation-up 1s linear;
}

.animate .arrow-down {
	animation: click-animation-down 1s linear;
}

@keyframes click-animation-up {
	0% {
			margin-top: 20px;
	}
	50% {
			margin-top: -120px;
	}
	100% {
			margin-top: 20px;
	}
}

@keyframes click-animation-down {
	0% {
			margin-top: 12px;
	}
	50% {
			margin-top: 132px;
	}
	100% {
			margin-top: 12px;
	}
}

.swap-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 38px;
	position: relative;
}
.sell{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 601px;
	height: 174px;
	background-color: rgba(var(--dark-bg), 0.6);
	border-radius: 28px;
	padding: 20px 30px 20px 30px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.left{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sell-h6{
	font-family: "JetBrains Mono", monospace;
	font-weight: 700;
	font-size: 21px;
	color: var(--red);
	margin-bottom: 8px;
}
input{
	height: 73px;
	width: 350px;
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	font-size: 55px;
	color: white;
	background-color: var(--dark-bg);
	margin-bottom: 1px;
}
input::placeholder{
	color: var(--elem-nonactive);
}
p{
	font-family: "JetBrains Mono", monospace;
	font-weight: 800;
	font-size: 18px;
	color: var(--elem-nonactive);
}
.right{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.token{
	border-radius: 100px;
	box-sizing: border-box;
	margin-top: 30px;
	margin-right: 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.token-icon{
	background-image: url(/img/header/ethereum.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-right: 15px;
}
.token > p{
	font-family: "JetBrains Mono", monospace;
	font-weight: 800;
	font-size: 24px;
	color: white;
}
.token > button {
  background: url(/img/header/open-img.png);
	width: 12px;
	height: 7px;
	margin-left: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}
.bottom{
	width: 525px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.balance{
	display: flex;
	align-items: center;
}
.max{
	font-family: "JetBrains Mono", monospace;
	font-weight: 800;
	font-size: 18px;
	color: white;
	margin-left: 20px;
	cursor: pointer;
	transition: 0.2s;
}
.max:hover{
	color: var(--elem-nonactive);
}

.buy{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 601px;
	height: 174px;
	background-color: rgba(var(--dark-bg), 0.6);
	border-radius: 28px;
	padding: 20px 30px 20px 30px;
	box-sizing: border-box;
}
.buy-h6{
	font-family: "JetBrains Mono", monospace;
	font-weight: 700;
	font-size: 21px;
	color: var(--green);
	margin-bottom: 8px;
}
.main-button{
	margin-top: 40px;
	height: 72px;
	width: 601px;
	background-color: white;
	border-radius: 16px;
	font-family: "JetBrains Mono", monospace;
	font-weight: 500;
	font-size: 21px;
	color: black;
	cursor: pointer;
	transition: 0.2s;
	&.inactive {
    background-color: rgba(var(--dark-bg), 0.9);
    cursor: not-allowed;
		color: var(--elem-nonactive);
    opacity: 0.5;
  }

  &.inactive:hover {
    background-color: var(--dark-select);
  }
}
.main-button:hover{
	background-color: var(--elem-nonactive);
}

.info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 601px;
	margin-top: 13px;
}

.price{
	display: flex;
}
.price > p{
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	font-size: 17px;
	color: white;
}
.price > p.price-usd{
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	font-size: 17px;
	color: var(--elem-nonactive);
}

.gas{
	display: flex;
	align-items: center;
	gap: 8px;
}
.gas-img{
	background-image: url(/img/trade/gas-image.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
.gas-text{
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	font-size: 18px;
	color: var(--elem-nonactive);
}
