<div class="trade">
  <div class="trade-window">
    <div class="header">
      <h3>Trade</h3>
      <div class="icons">
        <div class="refresh" (mousedown)="rotateRefresh()"></div>
				<div class="settings" 
					[class.active]="showSettingsPopup"
					(click)="toggleSettingsPopup()">
				</div>

				<app-settings
					*ngIf="showSettingsPopup"
					class="settings-popup open"
					(close)="popupService.closePopup('settings')"
					(save)="onSlippageSave($event)"
				></app-settings>

      </div>
    </div>

    <div class="swap-container">
			<div class="change-button" id="change-button" 
					(mousedown)="onMouseDown()" 
					(animationend)="onAnimationEnd()">
				<div class="arrow-up"></div>
				<div class="arrow-down"></div>
			</div>


      <div class="sell">
        <div class="left">
          <h6 class="sell-h6">Sell</h6>
          <input
            type="text"
            id="number-input-sell"
						placeholder="0.0"
            [(ngModel)]="sellAmount"
            (input)="processInput($event, true)"
          />
        </div>

        <div class="right">
          <div class="token" (click)="openTokenPopup()">
            <div class="token-icon" [style.backgroundImage]="'url(' + selectedTokenImage + ')'"></div>
            <p>{{ selectedToken }}</p>
            <button></button>
          </div>
        </div>

				<app-token-change
					*ngIf="showTokenPopup"
					(close)="closeTokenPopup()"
					(tokenSelected)="onTokenSelected($event)"
				></app-token-change>

        <div class="bottom">
          <p id="sell-price-usd">{{ sellPriceUsd }}</p>

          <div class="balance">
            <p>Balance:</p>
            <p id="balance">{{ balance }}</p>
            <p>${{ selectedToken }}</p>

            <button class="max" (click)="setMaxSellAmount()">MAX</button>
          </div>
        </div>
      </div>

      <div class="buy">
        <div class="left">
          <h6 class="buy-h6">Buy</h6>
          <input
            type="text"
            id="number-input-buy"
						placeholder="0.0"
            [(ngModel)]="buyAmount"
            (input)="processInput($event, false)"
          />
        </div>

        <div class="right">
          <div class="token" (click)="openTokenBuyPopup()">
            <div class="token-icon" [style.backgroundImage]="'url(' + selectedBuyTokenImage + ')'"></div>
            <p>{{ selectedBuyToken }}</p>
            <button></button>
          </div>
        </div>

				<app-token-change-buy
					*ngIf="showTokenBuyPopup"
					(close)="closeTokenBuyPopup()"
					(tokenSelected)="onBuyTokenSelected($event)"
				></app-token-change-buy>

        <div class="bottom">
          <p id="buy-price-usd">{{ sellPriceUsd }}</p>

          <div class="balance">
            <p>Balance:</p>
            <p>0.1465</p>
            <p>${{ selectedBuyToken }}</p>
          </div>
        </div>
      </div>

      <button 
        class="main-button" 
        *ngIf="isWalletConnected(); else connectWallet"
        [class.inactive]="!isSwapButtonActive()"
        [disabled]="!isSwapButtonActive()"
        (click)="isSwapButtonActive() && swap()">
        Swap
      </button>

			<ng-template #connectWallet>
				<button 
					class="main-button"
					(click)="openConnectWalletPopup()">
					Connect Wallet
				</button>
			</ng-template>

			<div class="info">
				<div class="price">
					<p>1</p>
					<p>{{ selectedToken }}</p>
					<p>=</p>
					<p id="price">{{ price }}</p>
					<p>{{ selectedBuyToken }}</p>
					<p class="price-usd">($</p>
					<p class="price-usd" id="price-usd">{{ priceUsd }}</p>
					<p class="price-usd">)</p>
				</div>
				<div class="gas" *ngIf="sellAmount">
					<div class="gas-img"></div>
					<p class="gas-text">0.21</p>
				</div>
			</div>

    </div>
  </div>
</div>

<app-connect-wallet 
  *ngIf="showConnectWalletPopup"
  (close)="closeConnectWalletPopup()">
</app-connect-wallet>