/* Удаление всех отступов и бордеров */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0px;
	padding: 0px;
	border: 0px;
}
hr{
	margin: 0px;
}

a{
	text-decoration: none;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, p, textarea, a, input, label{
	font-family: "JetBrains Mono", monospace;
}

button {
	border: none;
	background-color: transparent;
	padding: 0;
}

input {
	border: none;
}

textarea,input:focus {
	outline: none;
	border: none;
}

/* Общий стиль для текста плейсхолдера */
::placeholder {
	color: #bfbfbf;
}

/* Удаление стилизации поля поиска */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* Стили для автозаполнения в браузерах WebKit, таких как Chrome и Safari */
input[type="search"]:-webkit-autofill {
  box-shadow: 0 0 0 30px #E1E1E1 inset; /* Задний фон, чтобы перекрыть стандартные стили */
  -webkit-text-fill-color: #161616; /* Цвет текста */
	border-radius: 42px; /* Скругление углов если нужно */
}

 /* Стили для автозаполнения в браузерах Microsoft (Edge) */
input[type="search"]::placeholder:-ms-input-placeholder {
  color: #E1E1E1;
}

/* Убирает стрелки-кнопки справа в инпуте */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Убирает стрелки в Chrome, Safari и Edge */
}

input[type="number"] {
	-moz-appearance: textfield; /* Убирает стрелки в Firefox */
}